<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Toby White" />
   <meta name="description" content="Toby White" />
  
   <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
   <link rel="stylesheet" type="text/css" media="screen" href="css/ela.css" />
		
   <link rel="openid.server" href="http://uszla.me.uk/id">
   <link rel="openid.delegate" href="http://uszla.me.uk/id">
<style type='text/css'>
.hilite {
	background-color: #ddd;
}
</style>
</head>
<body>
<div id="page">
  <div id="header">
    <a href="/">Toby White</a>
    <a class="extra" href="/">home</a>
  </div>
<hr />
  <div class="content">
  {{ content }}
  </div> 
  <div class="footer">
    <div class="contact">
      <p>
        Toby White<br />
        Cofounder of <a href="http://inkling-software.co.uk/">Inkling Software</a><br />
        toby@inkling-software.co.uk
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/tow/">github.com/tow</a><br />
        <a href="http://twitter.com/tow21/">twitter.com/tow21</a><br />
      </p>
    </div>
  </div>
</div>
</div>
</body>
</html>
